.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 155px;
  width: 155px;
  margin: 10px;
  overflow: hidden;
  background-color: #df4 ;
  float: left;
  font-size: 11px;
  text-align: left;
}

.new-notice-btn {
  background-color: #fa5778;
  color: #ffffff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.input {
  border: 0;
  background-color: none;
  outline: none;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  width: 140px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px #404040;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 11px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #ff0000;
}

.tile:hover .deleteButton {
  visibility: visible;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
